/* место для вашего кода */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {

}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    border-bottom: 1px solid;
    text-decoration: none;
}

.header__link-active {
    border-bottom: none;
}

.header__logo {
    width: 148px;
}

.address {
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
}

.header__address {
    justify-self: end;
}

address a {
    border-bottom: 1px solid;
    text-decoration: none;
}